@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Big Shoulders", sans-serif; */
}
h1, h2 ,h3 , h4, h5, h6, h2 span, button span, button, .heading_font{
  font-family: "Big Shoulders", sans-serif !important;
}

.red_color{
  color: #7B0B22;
}
.bg_red_color{
  background-color: #7B0B22;
}
.basic_text{
  color: #8A909A;
}

/* Flip Card Effect */
.group:hover .group-hover\:rotate-y-180 {
  transform: rotateY(180deg);
}

.perspective {
  perspective: 1200px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Hero section animation  */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animate-rotate {
  animation: rotate 6s linear infinite;
}

.animate-rotate-reverse {
  animation: rotateReverse 6s linear infinite;
}
@keyframes expand {
  0%, 100% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
}

@keyframes expandReverse {
  0%, 100% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.6;
  }
}

.animate-expand {
  animation: expand 4s ease-in-out infinite;
}

.animate-expand-reverse {
  animation: expandReverse 4s ease-in-out infinite;
}
@keyframes particleFloat {
  0% {
    transform: translateY(0px) translateX(0px);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-10px) translateX(10px);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0px) translateX(0px);
    opacity: 0.7;
  }
}

.particle {
  animation: particleFloat 3s ease-in-out infinite;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

@keyframes floatReverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
}

.animate-floating {
  animation: float 4s ease-in-out infinite;
}

.animate-floating-reverse {
  animation: floatReverse 4s ease-in-out infinite;
}
@keyframes buttonFade {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-button-fade {
  animation: buttonFade 2s ease-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 2s ease-out forwards;
}
