@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}
.red_color{
  color: #7B0B22;
}
.bg_red_color{
  background-color: #7B0B22;
}
.basic_text{
  color: #8A909A;
}