@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}
.red_color{
  color: #7B0B22;
}
.bg_red_color{
  background-color: #7B0B22;
}
.basic_text{
  color: #8A909A;
}

/* Flip Card Effect */
.group:hover .group-hover\:rotate-y-180 {
  transform: rotateY(180deg);
}

.perspective {
  perspective: 1200px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
